<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bashbored</title>
  <link rel="stylesheet" href="https://unpkg.com/vuetify@3.8.8/dist/vuetify.min.css">
  <link rel="stylesheet" href="https://unpkg.com/@mdi/font@7.4.47/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://fonts.bunny.net/css?family=roboto:400,500,700" />
  <style>
    html {
      background-color: #212121;
      background-color: rgb(18, 18, 18);
    }
    html, body {
      overflow-y: auto;
    }
    [v-cloak] {
      display: none;
    }
  </style>
</head>
<body>

  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script src="https://unpkg.com/vuetify@3.8.8/dist/vuetify.min.js"></script>
  <script src="https://unpkg.com/pinia@3.0.3/dist/pinia.iife.prod.js"></script>
  <script>
    const { createApp, ref, shallowRef, computed, onMounted } = Vue
    const { createPinia, defineStore } = Pinia;
    const { createVuetify } = Vuetify

    const useLinksStore = defineStore('links', () => {
      fetch('./links.json')
        .then(data => {
          return data.json()
        })
        .then(json => {
          sections.value = json.sections
          links.value = json.links
          priorities.value = json.links
            .map(l => /pri\d/.test(l.tags) ? /pri\d/.exec(l.tags)[0] : null)
            .filter(item => item)
            .filter((item, index, array) => array.indexOf(item) === index)
        })
      // fetch('/lenker', {
      //   headers: {
      //     'Authorization': `Bearer ${localStorage.getItem('mitt-merke')}`
      //   }
      // })
      //   .then(data => {
      //     return data.json()
      //   })
      //   .then(json => {
      //     // sections.value = json.sections
      //     links.value = json.map(l => {
      //       l.icon = ''
      //       l.section = 'common'
      //       l.tags = 'pri1'
      //       return l
      //     })//.links
      //     priorities.value = json// .links
      //       .map(l => /pri\d/.test(l.tags) ? /pri\d/.exec(l.tags)[0] : null)
      //       .filter(item => item)
      //       .filter((item, index, array) => array.indexOf(item) === index)
      //   })
      //   .catch(err => console.log('Neida, fikk ikke hente lenkene gitt', err.message))
      const sections = ref([{section: '*', name: 'Alle'}, {section: 'common', name: 'vanlig'}])
      const links = ref([])
      const currentSection = ref(0)
      const priorities = ref([])
      return {
        sections,
        currentSection: computed(() => {
          return sections.value[currentSection.value].section
        }),
        links: computed(() => {
          const curSec = sections.value[currentSection.value]?.section
          return priorities.value.map(prio => {
            return {
              prio,
              links: links.value
                .filter(link => (curSec === '*' || link.section === curSec) && link.tags.indexOf(prio) >= 0)
            }
          }).filter(section => section.links.length > 0)
        }),
        setSection: (val) => {
          currentSection.value = sections.value.findIndex(s => s.section === val)
        }
      }
    })
    const util = {
      getTemplate(id) {
        const template = document.querySelector(id)
        return template.content.cloneNode(true).firstElementChild.outerHTML
      }
    }
  </script>

  <div id="app">

    <v-responsive>
      <v-app :theme="theme">
        <v-layout class="rounded rounded-md border">
          <v-app-bar title="Bashbored" density="compact">
            <template v-slot:prepend>
              <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
            </template>
            <v-spacer></v-spacer>
            <v-btn
              :prepend-icon="theme === 'light' ? 'mdi-weather-sunny' : 'mdi-weather-night'"
              :text="theme === 'light' ? 'Light' : 'Dark'"
              slim
              @click="onThemeClick"
            ></v-btn>
            <template v-slot:append>
              <v-btn icon="mdi-dots-vertical"></v-btn>
            </template>
          </v-app-bar>

          <v-navigation-drawer v-model="drawer" temporary :disable-resize-watcher="true">
            <v-list nav>
              <v-list-item 
                v-for="item in linksStore.sections" 
                :title="item.name" 
                :active="item.section === linksStore.currentSection" 
                @click="linksStore.setSection(item.section), drawer = false"
              ></v-list-item>
            </v-list>
          </v-navigation-drawer>

          <v-main v-cloak>
            <v-container responsive>

              <v-row dense class="mb-5" v-for="(prio, j) in linksStore.links" :key="j">
                <v-col
                  v-for="(link, i) in prio.links"
                  :key="i"
                  cols="6"
                  sm="6"
                  md="3"
                  lg="2"
                  xl="1"
                >
                  <my-link :link="link" @click="onCardClick" :theme="theme"></my-link>
                </v-col>
                <v-spacer></v-spacer>
              </v-row>

            </v-container>
            <v-dialog
              v-cloak
              v-model="overlay"
              @update:model-value="onOverlayUpdate"
              width="auto"
              min-width="300px"
            >
              <my-alert @click="overlay = false"></my-alert>
            </v-dialog>
          </v-main>
        </v-layout>
      </v-app>
    </v-responsive>

  </div><!-- /#app -->
  <script>
    const MyApp = () => {
      const linksStore = useLinksStore()
      const theme = shallowRef('dark')
      const loaded = shallowRef(false)
      const drawer = shallowRef(false)
      const overlay = shallowRef(false)
      function onThemeClick() {
        theme.value = theme.value === 'light' ? 'dark' : 'light'
      }
      function onCardClick(event, link) {
        if (link.href === 'void(0)') {
          overlay.value = true
          event.preventDefault()
          event.stopPropagation()
          return false
        }
      }
      function onOverlayUpdate(state) {
        overlay.value = state
      }
      onMounted(() => {
        loaded.value = true
      })
      return {
        theme,
        loaded,
        drawer,
        overlay,
        onThemeClick,
        onCardClick,
        onOverlayUpdate,
        linksStore,
      }
    }
  </script>
  
  <template id="link-template">
    <v-card 
      :href="link.href" 
      @click="$emit('click', $event, link)" 
    >
      <template v-slot:title>
        <span class="text-subtitle-2 font-weight-medium">{{ link.name }}</span>
      </template>
      <template v-slot:append v-if="link.icon">
        <v-icon size="24">
          <v-img
            :alt="link.name"
            :src="link.icon[theme] ? link.icon[theme] : link.icon"
          ></v-img>
        </v-icon>
      </template>
    </v-card>
  </template>
  <script>
    const MyLink = () => {
      const template = util.getTemplate('#link-template')
      return ({
        template,
        props: ['link', 'theme'],
        emits: ['click']
      })
    }
  </script>

  <template id="alert-template">
    <v-card title="Modal" max-width="500px" prepend-icon="mdi-update">
      <v-card-text>
        Tekst tekst tekst
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          text="Lukk"
          @click="$emit('click', 'close')"
        ></v-btn>
      </v-card-actions>
    </v-card>
  </template>
  <script>
    const MyAlert = () => {
      const template = util.getTemplate('#alert-template')
      return ({
        template,
        emits: ['click']
      })
    }
  </script>

  <script>
    createApp({
      setup: MyApp
    })
    .component('my-link', MyLink())
    .component('my-alert', MyAlert())
    .use(
      createVuetify({
        theme: {
          defaultTheme: 'dark'
        }
      })
    )
    .use(
      createPinia()
    )
    .mount('#app')
  </script>
</body>
</html>
